.lte {
  /* Grid system based on http://www.responsivegridsystem.com/calculator/
   ========================================================================== */

  .ak-grid-row:before,
  .ak-grid-row:after {
      content: "";
      display: table;
  }
  .ak-grid-row:after {
      clear: both;
  }
  .ak-grid-row {
      zoom: 1; /* For IE 6/7 */
      clear: both;
      padding: 0;
      margin: 0;
  }

  .ak-grid-col {
      display: block;
      float: left;
      margin: 0;
      min-height: 1px;
  }

  .ak-grid-col-12-of-12 {
      width: 100%;
  }
  .ak-grid-col-11-of-12 {
      width: 91.5%;
  }
  .ak-grid-col-10-of-12 {
      width: 83%;
  }
  .ak-grid-col-9-of-12 {
      width: 74.5%;
  }
  .ak-grid-col-8-of-12 {
      width: 66%;
  }
  .ak-grid-col-7-of-12 {
      width: 57.5%;
  }
  .ak-grid-col-6-of-12 {
      width: 49%;
  }
  .ak-grid-col-5-of-12 {
      width: 40.5%;
  }
  .ak-grid-col-4-of-12 {
      width: 32%;
  }
  .ak-grid-col-3-of-12 {
      width: 23.5%;
  }
  .ak-grid-col-2-of-12 {
      width: 15%;
  }
  .ak-grid-col-1-of-12 {
      width: 6.5%;
  }

  .ak-grid-col:first-child {
      margin-left: 0;
  }
  .ak-grid-col:not(:first-child) {
      margin-left: 2%;
  }

  .ak-grid-col.ak-grid-centered {
      margin: 0 auto;
      float: none;
  }

  /* Inverted grid rows have their cells in reverse order */
  .ak-grid-row-inverted .ak-grid-col {
      float: right;
  }
  .ak-grid-row-inverted .ak-grid-col:last-child {
      margin-left: 0;
  }
  .ak-grid-row-inverted .ak-grid-col:not(:last-child) {
      margin-left: 2%;
  }

  /* On RTL pages, all of the above column order logic is switched */
  .ak-rtl .ak-grid-row .ak-grid-col {
      float: right;
  }
  .ak-rtl .ak-grid-row .ak-grid-col:last-child {
      margin-left: 0;
  }
  .ak-rtl .ak-grid-row .ak-grid-col:not(:last-child) {
      margin-left: 2%;
  }

  .ak-rtl .ak-grid-row-inverted .ak-grid-col {
      float: left;
  }
  .ak-rtl .ak-grid-row-inverted .ak-grid-col:first-child {
      margin-left: 0;
  }
  .ak-rtl .ak-grid-row-inverted .ak-grid-col:not(:first-child) {
      margin-left: 2%;
  }

  /* Switch to single-column full-width layout on screens narrower than 750 px */
  @media only screen and (max-width: 749px) {
      .ak-grid-col {
          width: 100%;
          margin: 0;
      }

      .ak-grid-col:not(:first-child),
      .ak-grid-row-inverted .ak-grid-col:not(:last-child),
      .ak-rtl .ak-grid-row .ak-grid-col:not(:last-child),
      .ak-rtl .ak-grid-row-inverted .ak-grid-col:not(:first-child) {
          margin: 0;
      }
  }
}