/* version bump */

.ak-pagetype-call {

	.header__buttons{
		ul { display: block; }
	}

	p, ol, ul {
		font-size: 14px;
	}

	.ak-featured-img {
		margin-bottom: 1em;
	}
	
	.advocacy-action {
		position: relative;
	    width: 100%;
	    overflow: hidden;

		.advocacy-intro, .pull-right, header {
		    width: 48.5%;
		}

		header {
			padding-bottom: 12px;
			float: left;
			text-align: left;
		}

		.pull-right {
			padding-top: 36px;
			float: right;
		}

		#progress {
			.ak-progress-percent { display: none; }
		}


		.form-container {

			overflow-x:hidden;
			overflow-y: auto;
			padding: 1.5em;
    	background: #eff3f3;

  		h3 {
  			text-transform: uppercase;
		    letter-spacing: .03em;
		    font-size: 24px;
		    color: #353b3a;
		    padding-top: 6px;
  			padding-bottom: 20px;
  		}

  		.ak-margin-bottom-1 {
  			font-size:14px;
  		}

			input[type="text"], textarea {
				width: 100%;
				border: 1px solid #afb9b8;
			}

			textarea {
				height: 64px;
			}

			ul.ak-err {
				list-style:none;
				margin: 0;
				padding: 0;
				font-size:12px;
				margin-top: .25em;
				color: $red;
			}

			#ak-fieldbox-first_name, #ak-fieldbox-last_name {
				width: 48%;
			}
			#ak-fieldbox-first_name {
				margin-right: 4%;
			}

			.ak-field-comment {
			    margin-bottom: .675em;
			}

			.form-row.form-submit {
				margin-top: .675em;
				margin-bottom: 0;
				text-align: center;

				.ak-submit-button {
					text-transform: uppercase;
				    background: #4b6a23 linear-gradient(to bottom, #4b6a23 50%, #192f58 50%) repeat scroll 0 0 / 100px 100px;
				    border-color: #192f58;
				    border-radius: 0;
				    border-style: none none solid;
				    border-width: 0 0 5px;
				    color: #fff;
				    font-size: 15px;
				    font-weight:bold;
				    line-height: 36px;
				    max-width:300px;
				    padding: 0 20px;
				    -webkit-transition: background-position .3s;
  					transition: background-position .3s;

  					&:hover{
  						background-position: 0 100%;
					    color: #FFFFFF;
					    outline: 0; 
					    cursor: pointer;
  					}

				}
			}

			.form-row-first-third {
				float: left;
			    width: 32%;
			    margin-right: 2%;
			}

			.form-row-second-third {
				float: left;
			    width: 32%;
			    margin-left: 2%;
			}

			.form-row-two-thirds {
				float:left;
				width: 66%;
			}
			

			@media (max-width: $max-reading-width){
				#ak-fieldbox-first_name, #ak-fieldbox-last_name, #ak-fieldbox-zip {
					width: 100%;
					margin-right: 0;
				}
				#ak-fieldbox-zip {
					margin-left: 0;
				}

				.form-row-first-third {
				    width: 100%;
				    margin-right: 0;
				}

				.form-row-second-third {
				    width: 100%;
				    margin-left: 0;
				}

				.form-row-two-thirds {
					width: 100%;
				}

			}
		}
		@media (max-width: $max-reading-width){
			
			.advocacy-intro, .pull-right, header {
				width: 100%;
	    		float: none;
			}

			.advocacy-intro {
				margin-top: 2em;
			}
		}
	}
	@media (max-width: 900px){
		.header__buttons{
			ul { display: none; }
		}
	}
}

/* Steps -- Used on call and whipcount pages
   ========================================================================== */

.ak-steps-area h3 {
    padding: 3px 0 1px;
    font-size: 1.29em;
    font-size: 1.29rem;
    color: #000;
}
.ak-steps-area label.ak-step-label {
    font-weight: 200;
}
.ak-steps-area h3 div.ak-step-number {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    display: inline-block;
    font-size: 1.10em;
    font-size: 1.10rem;
    line-height: 1.52;
    width: 1.52em;
    height: 1.52em;
    text-align: center;
    background: #fff;
    color: #4b4b4b;
    position: relative;
    top: -1px;
    margin: 2px;
}

.ak-steps-area h3.clickable {
    margin: 5px -15px 0;
    padding-left: 13px;
}
.ak-steps-area h3.clickable,
.ak-steps-area h3.clickable label,
.ak-steps-area h3.clickable span,
.ak-steps-area h3.clickable span span,
.ak-steps-area h3.clickable div.ak-step-number,
.ak-steps-area h3.clickable label div {
    cursor: pointer;
}
.ak-steps-area h3 .ak-arrow-holder {
    display: block;
    color: #fff;
    float: right;
    padding-right: 10px;
    position: relative;
    top: 9px;
}
.ak-steps-area h3 .ak-arrow:after {
    color: #fff;
}

@media (max-width:479px) {
    .ak-steps-area h3 {
        background: #4b4b4b;
        color: #fff;
        padding: 8px 5px 6px;
    }
    .ak-steps-area h3 ~ div {
        display: none;
    }
}
@media (min-width:480px) {
    .ak-steps-area h3 label.ak-step-label {
        color: #4b4b4b;
    }
    .ak-steps-area h3 div.ak-step-number {
        /* border: 2px solid #fff; */
        background: #4b4b4b;
        color: #fff;
    }
    .ak-steps-area h3 .ak-arrow-holder {
        display: none;
    }
    .ak-steps-area .ak-fieldbox {
        margin-left: 0;
        margin-right: 0;
    }
}

.ak-steps-area .ak-fieldbox {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
    padding: 0 15px;
}
.ak-steps-area .ak-fieldbox p {
    margin: 0;
    padding: 10px 0;
}

body.ak-pagetype-call .ak-steps-area #ak-survey_question label p {
    margin-top: 0;
}
h3#report-call label p {
    margin: 10px 0 10px;
}

/* Grid system based on http://www.responsivegridsystem.com/calculator/
   ========================================================================== */

.ak-grid-row:before,
.ak-grid-row:after {
    content: "";
    display: table;
}
.ak-grid-row:after {
    clear: both;
}
.ak-grid-row {
    zoom: 1; /* For IE 6/7 */
    clear: both;
    padding: 0;
    margin: 0;
}

.ak-grid-col {
    display: block;
    float: left;
    margin: 0;
    min-height: 1px;
}

.ak-grid-col-12-of-12 {
    width: 100%;
}
.ak-grid-col-11-of-12 {
    width: 91.5%;
}
.ak-grid-col-10-of-12 {
    width: 83%;
}
.ak-grid-col-9-of-12 {
    width: 74.5%;
}
.ak-grid-col-8-of-12 {
    width: 66%;
}
.ak-grid-col-7-of-12 {
    width: 57.5%;
}
.ak-grid-col-6-of-12 {
    width: 49%;
}
.ak-grid-col-5-of-12 {
    width: 40.5%;
}
.ak-grid-col-4-of-12 {
    width: 32%;
}
.ak-grid-col-3-of-12 {
    width: 23.5%;
}
.ak-grid-col-2-of-12 {
    width: 15%;
}
.ak-grid-col-1-of-12 {
    width: 6.5%;
}

.ak-grid-col:first-child {
    margin-left: 0;
}
.ak-grid-col:not(:first-child) {
    margin-left: 2%;
}

.ak-grid-col.ak-grid-centered {
    margin: 0 auto;
    float: none;
}

/* Inverted grid rows have their cells in reverse order */
.ak-grid-row-inverted .ak-grid-col {
    float: right;
}
.ak-grid-row-inverted .ak-grid-col:last-child {
    margin-left: 0;
}
.ak-grid-row-inverted .ak-grid-col:not(:last-child) {
    margin-left: 2%;
}

/* On RTL pages, all of the above column order logic is switched */
.ak-rtl .ak-grid-row .ak-grid-col {
    float: right;
}
.ak-rtl .ak-grid-row .ak-grid-col:last-child {
    margin-left: 0;
}
.ak-rtl .ak-grid-row .ak-grid-col:not(:last-child) {
    margin-left: 2%;
}

.ak-rtl .ak-grid-row-inverted .ak-grid-col {
    float: left;
}
.ak-rtl .ak-grid-row-inverted .ak-grid-col:first-child {
    margin-left: 0;
}
.ak-rtl .ak-grid-row-inverted .ak-grid-col:not(:first-child) {
    margin-left: 2%;
}

/* Switch to single-column full-width layout on screens narrower than 750 px */
@media only screen and (max-width: 749px) {
    .ak-grid-col {
        width: 100%;
        margin: 0;
    }

    .ak-grid-col:not(:first-child),
    .ak-grid-row-inverted .ak-grid-col:not(:last-child),
    .ak-rtl .ak-grid-row .ak-grid-col:not(:last-child),
    .ak-rtl .ak-grid-row-inverted .ak-grid-col:not(:first-child) {
        margin: 0;
    }
}