.footer-sidebar__widgets {
  text-align: center;
  color: $white;
  font-size: 90%;

  div,
  .textwidget {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .textwidget {
  	font-size: 10pt;
  	font-family: Arial, Helvetica, Verdana, sans-serif;
  	font-weight: bold;
  	line-height: 30px;
  }
}