.ak-pagetype-letter {
	
	.header__buttons{
		ul { display: block; }
	}

	p {
		font-size: 14px;
	}

	h2 {
		margin: 0 0 15px 0;
	    padding-top: 5px;
	    padding-bottom: 0;
	    color: #555;
	    font: bold 20px Tahoma, Arial, Helvetica, sans-serif;
	}

	h3 {
		margin: 0;
		padding: 6px 0;
		font-size: 13px;
		color: #192f58;
		font-family: "Sanchez";
		font-weight: normal;
		line-height: 1.1;
		position: relative
	}

	.advocacy-action {
		position: relative;
	    width: 100%;
	    overflow: hidden;
	}

	.row-bottom-submit { display: none; }

	#column1 {
	    width: 38%;
	    position: relative;
	    float:left;

	    #letter-form {
	    	position:relative;
	    	float:left;
	    }

	    #known_user {
	    	margin-top: 20px;
	    }
	    #ak-errors { display: none; }

	    p#required-flag {
	    	color: $red;
	    	font-size: 12px;
	    }

	    label {
		    color: #444;
		    font-weight: normal;
		}
		input[type="text"], select {
			width: 100%;
			border: 1px solid #999;
			resize:none; 
			padding: 3.6px 6px;
			border-radius: 0;
			background: #fff;
		}

		select{
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			padding: 8px 6px;
		}

		ul.ak-err {
			list-style:none;
			margin: 0;
			padding: 0;
			font-size:12px;
			margin-top: .25em;
			color: $red;
		}
	}
	#column2 {
	    width: 58%;
	    position: relative;
	    float:right;

	    #letter-story {
	    	margin-bottom: 15px;
    		padding: 10px 10px 0 10px;
    		border: 1px solid #ccc;

    		p {
    			clear: both;
    			margin: 0;
    			padding: 0 0 10px 5px;
    		}

    		h3 {
    			margin: -5px -11px 3px -6px;
    			padding-left:12px;
    			font-size: 20px;
    		}

    		textarea{
    			margin: 8px;
    			margin-bottom: 25px;
    			font: 13px Arial, Helvetica, sans-serif;
    			height: 25em;
    			border: 1px solid #999;
    			resize: none;
    			width: calc(100% - 16px);
    			padding: .3em .5em;
    		}
	    }
	}

	.form-row.form-submit {
		margin-top: .675em;
		margin-bottom: 0;
		text-align: center;

		.ak-submit-button {
			text-transform: uppercase;
		    background: #4b6a23 linear-gradient(to bottom, #4b6a23 50%, #192f58 50%) repeat scroll 0 0 / 100px 100px;
		    border-color: #192f58;
		    border-radius: 0;
		    border-style: none none solid;
		    border-width: 0 0 5px;
		    color: #fff;
		    font-size: 15px;
		    font-weight:bold;
		    line-height: 36px;
		    max-width:300px;
		    padding: 0 20px;
		}
	}

	@media (max-width: $max-reading-width){
		.header__buttons{
			ul { display: none; }
		}
		#column1, #column2 {
			width: 100%;
    		float: left;
		}

		.row-top-submit { display: none; }
		.row-bottom-submit { display: block; }
	}
}