.ak-pagetype-petition {

	p {
		font-size: 14px;
	}
	
	.advocacy-action {
		position: relative;
	    width: 100%;
	    overflow: hidden;

		.advocacy-intro, .pull-right, header {
		    width: 48.5%;
		}

		header {
			padding-top: 20px;
			padding-bottom: 12px;
			float: left;
			text-align: left;
		}

		.pull-right {
			padding-top: 36px;
			float: right;
		}

		.statement-text-wrapper {
			padding: 1.5em;
    		background: #eff3f3;

    		h3 {
    			text-transform: uppercase;
			    letter-spacing: .03em;
			    font-size: 24px;
			    color: #353b3a;
			    padding-top: 6px;
    			padding-bottom: 20px;
    		}

    		.ak-margin-bottom-1 {
    			font-size:14px;
    		}
		}

		#petition-form {
			.form-row {
				width: 100%;
				margin-bottom: .675em;
				position: relative;
				float:left;
			}
			label {
				white-space: normal;
			    width: 100%;
			    display: block;
			    font-weight: bold;
			    overflow: hidden;
			    font-size: 14px;
			    margin-bottom: .125em;
			    color: #183157;

			    .ak-required-flag {
			    	color: $red;
			    }
			}
			input[type="text"], textarea {
				width: 100%;
				border: 1px solid #afb9b8;
				resize:none; 
			}

			ul.ak-err {
				list-style:none;
				margin: 0;
				padding: 0;
				font-size:12px;
				margin-top: .25em;
				color: $red;
			}
			#ak-fieldbox-first_name, #ak-fieldbox-last_name {
				width: 48%;
			}
			#ak-fieldbox-first_name {
				margin-right: 4%;
			}

			@media (max-width: $max-reading-width){
				#ak-fieldbox-first_name, #ak-fieldbox-last_name {
					width: 100%;
					margin-right: 0;
				}
			}
		}
	}

	@media (max-width: $max-reading-width){
		.advocacy-intro, .pull-right, .advocacy-action header {
			width: 100%;
    		float: none;
		}

		.advocacy-intro {
			margin-top: 2em;
		}
	}
}