#progress {

	margin-bottom: 1em;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;

	.ak-progress-holder {
		width: 100%;

		.ak-progress-meter-border {
			width: 100%;
			background: #eeeeee;
		    box-shadow: inset 1px 1px 1px #aaa;
		    height: 20px;

		    .ak-progress-bar {
		    	height: 20px;
		    	box-shadow: 1px 0 1px #aaa;
    			background-image: linear-gradient(to bottom, #184f9a, #0e2d58);
    			font-size: 13px;
    			color: #fff;
    			line-height: 21px;
    			text-align:right;
    			padding-right: 5px;
    			font-weight:bold;
		    }
		}
	}

	.ak-progress-goals {
		text-align:center;
		font-size: 15px;
		margin-top: 5px;

		.ak-progress-actions {
			
			
			span {
				font-weight: bold;
				color: #133e79;
			}
		}
	}
}