.ak-pagetype-survey {

  #ak-survey-questions {
    background: #eff3f3;
    max-width: 45rem;
    margin: 0 auto;
    padding: 2em;
    line-height: 1.2em;

    #ak-errors {
      display: none;
    }
    ul.ak-err {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 12px;
      margin-top: .25em;
      color: #ae272b;
    }
  }
  .ak-field-box > div {
    margin-bottom: 1rem;
  }

  .radio-item,
  .checkbox-item {
    label {
      overflow: visible;
      font-weight: normal;
    }
  }
  .ak-survey-question-label {
    margin-bottom: .25em;
  }
  .ak-survey-radio-choice {
    margin-bottom: .5em;
    text-indent: -1.75em;
    padding-left: 1.75em;
    input {
      margin-right: .5em;
    }
  }
  input[type="text"].ak-survey-input,
  select.ak-survey-input,
  textarea.ak-survey-input {
    width: 100%;
    max-width: 16em;
    border: 1px solid #d2d2d2;
    background: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5em;
    padding: .5em .35em;
  }
  select.ak-survey-input {
    font-size: .9em;
    height: 2.25em;
  }
  textarea.ak-survey-input {
    max-width: 30em;
  }
  
}