.ak-pagetype-thanks {
	#confirmation-text {
		margin-bottom: 2em;
		p { 
			font-size: 18px; 
		}
	}

	#progress {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}

	#ak-taf-form, #copy-and-paste, #ak-confirmation { 
		display: none; 
	}
}