.ak-pagetype-unsubscribe {
	form {
		margin: 0 auto;
		width: 80%;
		background: #eff3f3;
		padding: 1.5em;
	}

	button.ak-has-overlay {
		text-transform: uppercase;
	    background: #4b6a23 linear-gradient(to bottom, #4b6a23 50%, #192f58 50%) repeat scroll 0 0 / 100px 100px;
	    border-color: #192f58;
	    border-radius: 0;
	    border-style: none none solid;
	    border-width: 0 0 5px;
	    color: #fff;
	    font-size: 15px;
	    font-weight:bold;
	    line-height: 36px;
	    max-width:300px;
	    padding: 0 20px;
	}
}