.ak-pagetype-unsubscribe {
	form {
		margin: 0 auto;
		width: 70%;
		background: #eff3f3;
		padding: 1.5em;
	}

	button.ak-has-overlay {
		text-transform: uppercase;
	    background: #4b6a23 linear-gradient(to bottom, #4b6a23 50%, #192f58 50%) repeat scroll 0 0 / 100px 100px;
	    border-color: #192f58;
	    border-radius: 0;
	    border-style: none none solid;
	    border-width: 0 0 5px;
	    color: #fff;
	    font-size: 15px;
	    font-weight:bold;
	    line-height: 36px;
	    max-width:300px;
	    padding: 0 20px;
	}

	textarea {
		width: 100%;
		border: 1px solid #afb9b8;
		height: 64px;
	}

	ul.ak-err {
		list-style:none;
		margin: 0;
		padding: 0;
		font-size:12px;
		margin-top: .25em;
		color: $red;
	}

	#known_user {
		margin-bottom: 1em;
	}


	.ak-err-below {
		margin-bottom: .675em;
		position: relative;

		width: 100%;

		p { margin-bottom: 0; }
	}

	@media (max-width: $max-reading-width){
		form {
			width: 90%;
		}
	}
	@media (max-width: 550px){
		form {
			width: 98%;
			padding: 1em;
		}
	}
}

.ak-pagetype-signup {
	.header__buttons{
		ul { display: block; }
	}

	#signup-story, #signup-form {
		position: relative;
		float: left;
		width: 48.5%;
	}
	#signup-story {
		h1 {
			font-size: 50px;
		}
	}
	#signup-form { 
		background: #eff3f3;
		padding: 1.5em;
		float: right; 
		margin-top: 36px;

		h2 {
		    text-transform: uppercase;
		    letter-spacing: .03em;
		    font-size: 24px;
		    color: #353b3a;
		    padding-top: 6px;
    		padding-bottom: 20px;
    		font-weight: normal;
    		margin-bottom: 0;

		}
		h2:before {
			content: none;
		}
		#ak-errors { display: none; }

		#ak-fieldbox-first_name, #ak-fieldbox-last_name, #ak-fieldbox-zip {
			width: 48%;
		}
		#ak-fieldbox-first_name {
			margin-right: 4%;
		}

		.form-row.form-submit {
			margin-top: .675em;
			margin-bottom: .5em;
			text-align: center;
		}
	}

	button.ak-has-overlay {
		text-transform: uppercase;
	    background: #4b6a23 linear-gradient(to bottom, #4b6a23 50%, #192f58 50%) repeat scroll 0 0 / 100px 100px;
	    border-color: #192f58;
	    border-radius: 0;
	    border-style: none none solid;
	    border-width: 0 0 5px;
	    color: #fff;
	    font-size: 15px;
	    font-weight:bold;
	    line-height: 36px;
	    max-width:300px;
	    padding: 0 20px;
	}

	p.disclaimer {
		margin-top: .25em;
		margin-bottom: 0;
		font-weight:bold;
		font-style: italic;
		font-size: 15px;
	}

	@media (max-width: $max-reading-width){
		#signup-story, #signup-form {
			width: 100%;
    		float: none;
		}
	}


	
}