// @file
// Default styling of html elements.

*,
*:before,
*:after {
  // Box-sizing: border-box
  @include border-box;
}

* {
  // Universal transitions
  transition-duration: 0.2s;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  transition-timing-function:linear;
}

a {
  background-color: transparent;
  color: $link-color;
  // Improves readability when focused.
  outline-offset: em(2px);
  text-decoration: none;
  &:active,
  &:hover {
    outline: 0;
  }

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

abbr {
  @include smallcaps();

  &[title] {
    border-bottom: 1px dotted;
  }

  &:hover {
    cursor: help;
  }
}

address {}

article {}

aside {}

audio {}

b {}

blockquote {
  background: $light-grey;
  padding: 1.5em;
  margin: 0 .75em 2em .75em;
  p {
    &:last-of-type  {
      margin-bottom:0;
    }
  }
}

body {
  background-color: $body-color;
  color: $primary-text-color;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}

// Don't style button elements, since they're often styled as links for
// accessible widgets. Use the .button class in partials/components/buttons.
button {
  border: none;
  overflow: visible;
}

canvas {}

caption {}

cite {}

code {}

col {}

colgroup {}

datalist {}

dd {
  margin-bottom: 1.5em;
}

del {}

details {}

dfn {
  font-style: italic;
}

dl {
  margin: 0 0 1.5em;
}

dt {}

em {}

embed {}

fieldset {}

figcaption {}

figure {
  margin: 0 0 1.5em;
}

footer {}

form {
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    // Correct margin displayed oddly in IE 6/7.
    margin: 0;
  }
}

%hN {
  color: $navy;
  font-family: $header-font-family;
  font-weight: normal;
  hyphens: none;
  line-height: 1.1;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  a {
    &:after {
      content: "\f105";
      display: inline;
      font-weight: bold;
      font-family: FontAwesome;
      margin-left: .4em;
    }
  }
}

h1 {
  @extend %hN;
  color: $navy;
  font-size: $font-size-lgrr;
  line-height: 1;
  margin: 0;
  padding-top: .5em;
  @include breakpoint(700px, $no-query: true) {
    font-size: $font-size-xxl;
  }
  a {
    color: $navy;
  }
}

h2 {
  @extend h1;
  font-size: $font-size-lgr;
  margin-bottom: .5em;
  @include breakpoint(700px, $no-query: true) {
    font-size: $font-size-xl;
  }
}

h3 {
  @extend %hN;
  font-size: em($font-size-md);
  margin: 0 0 .5em 0;
  a {
    color: $black;
    &:hover {
      color: $blue;
    }
  }
}

h4 {
  @extend %hN;
  font-family: $base-font-family;
  font-size: em($base-font-size);
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 .25em 0;
}

h5 {
  @extend %hN;
  font-size: em($font-size-md);
  margin: 0 0 1.5em;
}

h6 {
  @extend %hN;
  font-size: em($font-size-sm);
  margin: 0 0 1.5em;
}

header {

}

hr {
  border: 1px solid $form-border-color;
  box-sizing: content-box;
  height: 0;
  margin: 1.5em 0;
  padding-bottom: -1px;
}

html {
  font-family: $base-font-family;
  font-weight: 300;
  font-size: 100% * ($base-font-size / 16px);
  hyphens: none;
  line-height: $base-line-height;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

i {}

iframe {}

img {
  border: 0;
  @if $legacy-support-for-ie7 {
    // Improve image quality when scaled in IE 7.
    -ms-interpolation-mode: bicubic;
  }
  @if $legacy-support-for-ie8 {
    // Correct IE 8 not scaling image height when resized.
    width: auto;
  }
}

// Don't style button, submit, or reset elements, since they're often styled as
// links for accessible widgets. Use the .button class in
// partials/components/buttons.
input {
  @include input-placeholder($dark-grey);
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: $black;
  font-family: $base-font-family;
  font-weight: bold;
  line-height: normal;
}

input[type="button"] {
  @extend %button;
  a {
    color: $white;
  }
}
input[type="checkbox"] {}
input[type="color"] {}
input[type="date"] {}
input[type="datetime"] {}
input[type="datetime-local"] {}
input[type="email"] {}
input[type="file"] {}
input[type="image"] {}
input[type="month"] {}
input[type="number"] {}
input[type="password"] {}
input[type="radio"] {}
input[type="range"] {}
input[type="reset"] {}
input[type="search"] {}
input[type="submit"] {}
input[type="tel"] {}
input[type="text"] {
  font-size: 14px;
  height: 39px;
  margin-right: 10px;
  padding: .5em;

}
input[type="time"] {}
input[type="url"] {}
input[type="week"] {}

ins {}

kbd {}

label {}

legend {
  border: 0;
  margin: 0;
  padding: 0;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *margin-left: -7px; // LTR

    @if $support-for-rtl {
      [dir="rtl"] & {
        *margin-left: 0;
        *margin-right: -7px;
      }
    }
  }
}

li {}

main {}

mark {
  background: #ff0;
  color: #000;
}

menu {}

menuitem {}

meter {}

nav {}

object {}

ol {
  font-family: $base-font-family;
  margin: 0 0 1.5em;
  padding: 0 0 0 1.5em; // LTR
  li {
    line-height: 1.5em;
    margin-bottom: 1.5em;
  }
  @if $support-for-rtl {
    [dir="rtl"] & {
      padding: 0 1.5em 0 0;
    }
  }

  ol,
  ul {
    margin: 1.25em 0 1.25em 0;
  }
}

optgroup {
  font-weight: bold;
}

option {}

output {}

p {
  font-family: $base-font-family;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 1em;
}

param {}

pre {
  margin: 0 0 1.5em;
  overflow: auto;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

progress {}

q {}

s {}

samp {}

section {
  margin: 1.25em 0 1.25em 0;
  @include breakpoint(800px, $no-query: true) {
    margin: 3em 0 2em 0;
  }
}

select {
}

small {
  font-size: em($font-size-md);
}

strong {}

sub {
  bottom: -0.25em;
}

summary {}

sup {
  top: -0.5em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tbody {}

td {
  padding: 1em;
}

textarea {
  overflow: auto;
}

tfoot {}

th {
  padding: 1em;
  text-align: left;
}

thead {}

time {}

tr {}

u {}

ul {
  margin: 0 0 1.5em;
  padding: 0 0 0 1.2em; // LTR

  @if $support-for-rtl {
    [dir="rtl"] & {
      padding: 0 1.2em 0 0;
    }
  }

  ol,
  ul {
    margin: 0;
  }
}

var {}

video {}

// Default print styles
@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 or $legacy-support-for-ie8 {
      -ms-filter: none !important;
      filter: none !important;
    }
  }

  iframe,
  nav {
    display: none;
  }

  a,
  a:visited {
    text-decoration: none;
  }

  a[href]:after {
    content: " <" attr(href) ">";
    font-family: $base-font-family;
    font-size: 10pt;
    font-weight: normal;
    text-transform: lowercase;
  }

  // Uncomment and replace example.com with your site's domain.
  //a[href^="/"]:after {
  //  content: " <http://example.com" attr(href) ">";
  //}

  a[href^="javascript:"]:after,
  a[href^="mailto:"]:after,
  a[href^="tel:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  img,
  tr,
  ul {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  h1 a:after,
  h2 a:after,
  h3 a:after,
  h4 a:after,
  h5 a:after,
  h6 a:after {
    display: inline-block;
  }

  h2,
  h3,
  h4,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }

  @page {
    margin: 2cm;
  }
}
