<li {% if monthly_ask_string == "1" %} style="display: none;" {% endif %}
  class="giving-levels-level giving-levels-level-visible giving-levels-level-{{counter}} js--giving-levels-level">
    <span class="ak-currency-sym"></span>
    <input
        type="radio"
        id="id_amount_{{amount}}"
        value="{{ amount }}"
        class="ak-amount-radio-button" name="amount"
        {% if not args.amount_other and amount == default_amount and monthly_ask_string != "1" %} checked {% endif %}
    >
    <label for="id_amount_{{amount}}" class="ak-btn">
        {{ page.currency_sym }}{{ amount|commify }}
    </label>
</li>