{% extends "./wrapper.html" %}{% load actionkit_tags %}

{% block content %}

<!-- for dev testing -->
<link href="http://localhost:8888/pfaw/crmMigration/p-ak-template/localhost/css/main.css" rel="stylesheet" type="text/css" />

<div class="advocacy-action js--advocacy-action">
    <form class="ak-form" name="act" method="POST" action="/act/" accept-charset="utf-8">
        <input type="hidden" name="page" value="{{ page.name }}">

        <div class="ak-grid-row">
            <div class="ak-grid-col ak-grid-col-12-of-12">
                <h2>{{ page.title }}</h2>
            </div>
        </div>

        <div class="ak-grid-row">
            <div class="ak-grid-col ak-grid-col-8-of-12">
                {% autoescape off %}
                {% include_tmpl form.about_text %}
                {% endautoescape %}
            </div>
        </div>

        <div class="ak-grid-row">
            <div class="ak-grid-col ak-grid-col-8-of-12" id="column1">
                {% include "./progress_meter.html" %}

                {% if page.custom_fields.featured_image %}
                <img class="ak-featured-img" src="{{page.custom_fields.featured_image}}">
                {% endif %}

                <div class="form-row form-submit row-top-submit">
                    <button type="submit" class="ak-submit-button">Send My Message</button>
                </div>

                <h3>Contact</h3>

                <p id="required-flag">* Required fields</p>

                <div id="letter-form" class="ak-field-box ak-styled-fields {{templateset.custom_fields.field_labels_class|default:"ak-labels-overlaid"}} {{templateset.custom_fields.field_errors_class|default:"ak-errs-below"}}">

                    {% include "./user_form_wrapper.html" %}

                    {# Optional TAF {% include "./inline_tellafriend.html" %} #}

                    <div class="form-row form-submit">
                        <button type="submit" class="ak-submit-button">Send My Message</button>
                    </div>

                    {% if page.custom_fields.affirm_checkbox == 'yes' %}
                    <div class="form-row">
                        <input type="checkbox" name="action_affirm" id="id_affirm" value="y" checked>
                        <label for="id_affirm" class="checkbox">I affirm my membership with People For the American Way.</label>
                    </div>
                    {% endif %}

                    <div class="form-row">
                        <p class="disclaimer">PFAW will send you periodic updates by email.</p>
                    </div>

                </div>
                

            </div><!-- /left col -->




            <div class="ak-grid-col ak-grid-col-4-of-12" id="column2">
                
                <div id="letter-story">
                    <h3>Message</h3>
                    {% if form.statement_leadin %}
                    {% autoescape off %}
                    <div class="ak-p-before-textarea ak-margin-top-3">
                        {% include_tmpl form.statement_leadin %}
                    </div>
                    {% endautoescape %}
                    {% endif %}

                    <p>Dear&nbsp;[Decision Maker],</p>

                    <div class="ak-margin-bottom-1 ak-styled-fields">
                        <textarea id="id_comment" name="action_comment" class="ak-letter-text ">{% include_tmpl form.letter_text escaped %}</textarea>
                    </div>
                    <p>Sincerely,<br><em>[Your Name]</em><br> <em>[Your Address]</em><br> <em>[City, State ZIP]</em></p>

                </div>
            </div><!-- /right col -->
        </div>
        <div class="ak-grid-row">
            <div class="form-row form-submit row-bottom-submit">
                <button type="submit" class="ak-submit-button">Send My Message</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block below_form %}
<script type="text/javascript">
    $(document).ready(function() {
        $('label[for="id_state"]').show();
    });
</script>
{% endblock %}
