{% extends "./wrapper.html" %}{% load actionkit_tags %}

{% block content %}

<!-- for dev testing -->
<link href="http://localhost:8888/pfaw/crmMigration/p-ak-template/localhost/css/main.css" rel="stylesheet" type="text/css" />

<div class="advocacy-action js--advocacy-action">
    <form class="ak-form" name="act" method="POST" action="/act/" accept-charset="utf-8">
        <input type="hidden" name="page" value="{{ page.name }}">
        <header class="js--advocacy-header">
            <h1>{{ page.title }}</h1>
        </header>

        <!-- right side -->
        <div class="pull-right">
            {% include "./progress_meter.html" %}

            <div class="statement-text-wrapper ak-field-box ak-field-box-borderless">
                            
                {% if page.custom_fields.featured_image or form.about_text %}
                        {% if form.statement_leadin %}
                            {% include_tmpl form.statement_leadin %}
                        {% else %}
                            <h3>Sign the petition</h3>
                        {% endif %}
                
                        <div class="ak-margin-bottom-1">
                            {% include_tmpl form.statement_text %}
                        </div>
                {% endif %}
                
                <div id="petition-form" class="ak-styled-fields {{templateset.custom_fields.field_labels_class|default:"ak-labels-overlaid"}} {{templateset.custom_fields.field_errors_class|default:"ak-errs-below"}}">

                    {% include "./user_form_wrapper.html" %}

                    <div class="ak-field ak-field-comment">
                        <label for="id_comment">Add a comment (optional):</label>
                        <textarea id="id_comment" name="action_comment"></textarea>
                    </div>

                    {# Optional TAF {% include "./inline_tellafriend.html" %} #}
                    <div class="form-row form-submit">
                        <button type="submit" class="ak-submit-button">Add My Name</button>
                    </div>

                    {% if page.custom_fields.affirm_checkbox == 'yes' %}
                    <div class="form-row form-submit">
                        <input type="checkbox" name="action_affirm" id="id_affirm" value="y">
                        <label for="id_affirm" class="checkbox">I affirm my membership with People For the American Way.</label>
                    </div>
                    {% endif %}
                    
                </div>
            </div> 
        </div> <!-- /right side -->

        <!-- intro text, left side -->
        <div class="advocacy-intro js--advocacy-intro">
            {% if page.custom_fields.featured_image or form.about_text %}
                <div id="ak-petition-story">
                    {% if page.custom_fields.featured_image %}
                    <img class="ak-featured-img {% if page.goal %}ak-margin-top-1{% endif %}" src="{{page.custom_fields.featured_image}}">
                    {% endif %}
                    {% autoescape off %}
                        <div class="ak-text-expander">{% include_tmpl form.about_text %}</div>
                        <a href="#" class="ak-read-more ak-mobile" data-lines="10">Read more</a>
                    {% endautoescape %}
                </div>
            {% else %}
                {% if form.statement_leadin %}
                    <p class="ak-petition-leadin">
                        {% include_tmpl form.statement_leadin %}
                    </p>
                {% endif %}

                <div class="ak-margin-bottom-1 ak-text-expander">
                    {% include_tmpl form.statement_text %}
                </div>
                <a href="#" class="ak-read-more ak-mobile" data-lines="10">Read more</a>
            {% endif %}
        </div> <!-- /intro text, left side -->
    </form>
</div>

{% endblock %}
