{% extends "./wrapper.html" %}{% load actionkit_tags %}

{% block content %}

<!-- for dev testing -->
<link href="http://localhost:8888/pfaw/crmMigration/p-ak-template/localhost/css/main.css" rel="stylesheet" type="text/css" />



<form class="action_form" name="act" method="POST" action="/act/" accept-charset="utf-8">
    
    <div class="ak-grid-row">

        <div class="ak-grid-row" id="signup-header">
            <div class="ak-grid-col ak-grid-col-12-of-12">
                <h2>{{ page.title }}</h2>
            </div>
        </div>
    
        <div id="signup-form" class="ak-grid-col ak-grid-col-6-of-12 ak-styled-fields {{templateset.custom_fields.field_labels_class|default:"ak-labels-overlaid"}} {{templateset.custom_fields.field_errors_class|default:"ak-errs-below"}}">


            {% include "./user_form_wrapper.html" %}

            {% if page.custom_fields.hide_comment_field != 'yes' %}
            <div class="ak-field ak-field-comment">
                <label for="id_comment">{{ page.custom_fields.custom_comment_label|default:"Add a comment (optional):" }}</label>
                <textarea id="id_comment" name="action_comment"></textarea>
            </div>
            {% endif %}

            <div class="form-row form-submit">
                <button type="submit" class="full">Sign Up</button>
            </div>

            <div class="form-row">
                <p class="disclaimer">PFAW will send you periodic updates by email.</p>
            </div>

        </div>

        <div id="signup-story" class="ak-grid-col ak-grid-col-6-of-12">

            {% if page.custom_fields.featured_image %}
            <img class="ak-featured-img" src="{{page.custom_fields.featured_image}}">
            {% endif %}

            {% include_tmpl form.introduction_text %}

            <div class="ak-mobile-lead"></div>

            {% include "./progress_meter.html" %}
        </div>

    </div>
    
    <input type="hidden" name="page" value="{{ page.name }}">
</form>

{% endblock %}
