input[type="button"], .button, .button--red, .header__buttons li a, .button--black, .button--blue {
  background-image: linear-gradient(to bottom, #4b6a24 50%, #192f58 50%);
  background-size: 100px 100px;
  background-color: #4b6a24;
  border-bottom: 5px solid #192f58;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica-Light", "Helvetica Light", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 .5em;
  padding: 1em 2.5em;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  transition: background-position .3s;
  vertical-align: baseline; }
  input[type="button"]:hover, .button:hover, .button--red:hover, .header__buttons li a:hover, .button--black:hover, .button--blue:hover {
    background-position: 0 100%;
    color: #FFFFFF;
    outline: 0; }
  input[type="button"]:focus, .button:focus, .button--red:focus, .header__buttons li a:focus, .button--black:focus, .button--blue:focus {
    color: #FFFFFF; }
  input[type="button"]:active, .button:active, .button--red:active, .header__buttons li a:active, .button--black:active, .button--blue:active {
    background-color: #304417;
    border-color: black; }
  .our-experts input[type="button"], .our-experts .button, .our-experts .button--red, .our-experts .header__buttons li a, .header__buttons li .our-experts a, .our-experts .button--black, .our-experts .button--blue {
    border: none;
    height: auto;
    padding: .75em 1.25em; }
  input[type="button"] + input[type="button"], .button + input[type="button"], .button--red + input[type="button"], .header__buttons li a + input[type="button"], .button--black + input[type="button"], .button--blue + input[type="button"], input[type="button"] + .button, .button + .button, .button--red + .button, .header__buttons li a + .button, .button--black + .button, .button--blue + .button, input[type="button"] + .button--red, .button + .button--red, .button--red + .button--red, .header__buttons li a + .button--red, .button--black + .button--red, .button--blue + .button--red, .header__buttons li input[type="button"] + a, .header__buttons li .button + a, .header__buttons li .button--red + a, .header__buttons li a + a, .header__buttons li .button--black + a, .header__buttons li .button--blue + a, input[type="button"] + .button--black, .button + .button--black, .button--red + .button--black, .header__buttons li a + .button--black, .button--black + .button--black, .button--blue + .button--black, input[type="button"] + .button--blue, .button + .button--blue, .button--red + .button--blue, .header__buttons li a + .button--blue, .button--black + .button--blue, .button--blue + .button--blue {
    margin-left: 1em; }
    [dir="rtl"] input[type="button"] + input[type="button"], [dir="rtl"] .button + input[type="button"], [dir="rtl"] .button--red + input[type="button"], [dir="rtl"] .header__buttons li a + input[type="button"], .header__buttons li [dir="rtl"] a + input[type="button"], [dir="rtl"] .button--black + input[type="button"], [dir="rtl"] .button--blue + input[type="button"], [dir="rtl"] input[type="button"] + .button, [dir="rtl"] .button + .button, [dir="rtl"] .button--red + .button, [dir="rtl"] .header__buttons li a + .button, .header__buttons li [dir="rtl"] a + .button, [dir="rtl"] .button--black + .button, [dir="rtl"] .button--blue + .button, [dir="rtl"] input[type="button"] + .button--red, [dir="rtl"] .button + .button--red, [dir="rtl"] .button--red + .button--red, [dir="rtl"] .header__buttons li a + .button--red, .header__buttons li [dir="rtl"] a + .button--red, [dir="rtl"] .button--black + .button--red, [dir="rtl"] .button--blue + .button--red, [dir="rtl"] .header__buttons li input[type="button"] + a, .header__buttons li [dir="rtl"] input[type="button"] + a, [dir="rtl"] .header__buttons li .button + a, .header__buttons li [dir="rtl"] .button + a, [dir="rtl"] .header__buttons li .button--red + a, .header__buttons li [dir="rtl"] .button--red + a, [dir="rtl"] .header__buttons li a + a, .header__buttons li [dir="rtl"] a + a, [dir="rtl"] .header__buttons li .button--black + a, .header__buttons li [dir="rtl"] .button--black + a, [dir="rtl"] .header__buttons li .button--blue + a, .header__buttons li [dir="rtl"] .button--blue + a, [dir="rtl"] input[type="button"] + .button--black, [dir="rtl"] .button + .button--black, [dir="rtl"] .button--red + .button--black, [dir="rtl"] .header__buttons li a + .button--black, .header__buttons li [dir="rtl"] a + .button--black, [dir="rtl"] .button--black + .button--black, [dir="rtl"] .button--blue + .button--black, [dir="rtl"] input[type="button"] + .button--blue, [dir="rtl"] .button + .button--blue, [dir="rtl"] .button--red + .button--blue, [dir="rtl"] .header__buttons li a + .button--blue, .header__buttons li [dir="rtl"] a + .button--blue, [dir="rtl"] .button--black + .button--blue, [dir="rtl"] .button--blue + .button--blue {
      margin-left: 0;
      margin-right: 1em; }

.button--red, .header__buttons li a {
  background-image: linear-gradient(to bottom, #ae272b 50%, #192f58 50%); }

.button--black {
  background-image: linear-gradient(to bottom, #353b3a 50%, #ed1c24 50%);
  border-bottom: 5px solid #ed1c24; }

.button--blue {
  background-image: linear-gradient(to bottom, #ae272b 50%, #004b8e 50%); }

.focusable, .visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  word-wrap: normal; }

.focusable:active, .focusable:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  width: auto; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden; }

.clearfix:after {
  clear: both;
  content: "";
  display: table; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

b,
strong {
  font-weight: bold; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: Consolas, "Lucida Console", "Liberation Mono", "Courier New", monospace, sans-serif;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  max-width: 100%; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: none;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

abbr,
blockquote,
code,
kbd,
q,
samp,
tt,
var {
  hyphens: none; }

img,
input,
textarea,
video {
  height: auto;
  max-width: 100%; }

embed,
iframe,
object {
  max-width: 100%; }

::-moz-selection {
  background: blue;
  color: #fff;
  text-shadow: none; }

::selection {
  background: blue;
  color: #fff;
  text-shadow: none; }

*,
*:before,
*:after {
  box-sizing: border-box; }

* {
  transition-duration: 0.2s;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  transition-timing-function: linear; }

a {
  background-color: transparent;
  color: #004b8e;
  outline-offset: 0.11111em;
  text-decoration: none; }
  a:active, a:hover {
    outline: 0; }
  a:hover, a:focus {
    color: #192f58; }

abbr {
  font-variant: small-caps;
  text-transform: lowercase; }
  abbr[title] {
    border-bottom: 1px dotted; }
  abbr:hover {
    cursor: help; }

blockquote {
  background: #eff3f3;
  padding: 1.5em;
  margin: 0 .75em 2em .75em; }
  blockquote p:last-of-type {
    margin-bottom: 0; }

body {
  background-color: #FFFFFF;
  color: #353b3a;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word; }

button {
  border: none;
  overflow: visible; }

dd {
  margin-bottom: 1.5em; }

dfn {
  font-style: italic; }

dl {
  margin: 0 0 1.5em; }

figure {
  margin: 0 0 1.5em; }

h1, h2, h3, h4, h5, h6 {
  color: #192f58;
  font-family: "Sanchez";
  font-weight: normal;
  hyphens: none;
  line-height: 1.1;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }
  h1 a:after, h2 a:after, h3 a:after, h4 a:after, h5 a:after, h6 a:after {
    content: "\f105";
    display: inline;
    font-weight: bold;
    font-family: FontAwesome;
    margin-left: .4em; }

h1, h2 {
  color: #192f58;
  font-size: 38px;
  line-height: 1;
  margin: 0;
  padding-top: .5em; }
  @media (min-width: 43.75em) {
    h1, h2 {
      font-size: 49px; } }
  h1 a, h2 a {
    color: #192f58; }

h2 {
  font-size: 30px;
  margin-bottom: .5em; }
  @media (min-width: 43.75em) {
    h2 {
      font-size: 40px; } }

h3 {
  font-size: 1.22222em;
  margin: 0 0 .5em 0; }
  h3 a {
    color: #353b3a; }
    h3 a:hover {
      color: #004b8e; }

h4 {
  font-family: "Helvetica-Light", "Helvetica Light", "Helvetica", Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 .25em 0; }

h5 {
  font-size: 1.22222em;
  margin: 0 0 1.5em; }

h6 {
  font-size: 0.66667em;
  margin: 0 0 1.5em; }

hr {
  border: 1px solid #ccc;
  box-sizing: content-box;
  height: 0;
  margin: 1.5em 0;
  padding-bottom: -1px; }

html {
  font-family: "Helvetica-Light", "Helvetica Light", "Helvetica", Arial, sans-serif;
  font-weight: 300;
  font-size: 112.5%;
  hyphens: none;
  line-height: 1;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

img {
  border: 0; }

input {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #353b3a;
  font-family: "Helvetica-Light", "Helvetica Light", "Helvetica", Arial, sans-serif;
  font-weight: bold;
  line-height: normal; }
  input::-webkit-input-placeholder {
    color: #7A8281; }
  input:-moz-placeholder {
    color: #7A8281; }
  input::-moz-placeholder {
    color: #7A8281; }
  input:-ms-input-placeholder {
    color: #7A8281; }

input[type="button"] a {
  color: #FFFFFF; }

input[type="text"] {
  font-size: 14px;
  height: 39px;
  margin-right: 10px;
  padding: .5em; }

legend {
  border: 0;
  margin: 0;
  padding: 0; }

mark {
  background: #ff0;
  color: #000; }

ol {
  font-family: "Helvetica-Light", "Helvetica Light", "Helvetica", Arial, sans-serif;
  margin: 0 0 1.5em;
  padding: 0 0 0 1.5em; }
  ol li {
    line-height: 1.5em;
    margin-bottom: 1.5em; }
  [dir="rtl"] ol {
    padding: 0 1.5em 0 0; }
  ol ol,
  ol ul {
    margin: 1.25em 0 1.25em 0; }

optgroup {
  font-weight: bold; }

p {
  font-family: "Helvetica-Light", "Helvetica Light", "Helvetica", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 1em; }

pre {
  margin: 0 0 1.5em;
  overflow: auto; }

section {
  margin: 1.25em 0 1.25em 0; }
  @media (min-width: 50em) {
    section {
      margin: 3em 0 2em 0; } }

small {
  font-size: 1.22222em; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  padding: 1em; }

textarea {
  overflow: auto; }

th {
  padding: 1em;
  text-align: left; }

ul {
  margin: 0 0 1.5em;
  padding: 0 0 0 1.2em; }
  [dir="rtl"] ul {
    padding: 0 1.2em 0 0; }
  ul ol,
  ul ul {
    margin: 0; }

@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important; }
  iframe,
  nav {
    display: none; }
  a,
  a:visited {
    text-decoration: none; }
  a[href]:after {
    content: " <" attr(href) ">";
    font-family: "Helvetica-Light", "Helvetica Light", "Helvetica", Arial, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    text-transform: lowercase; }
  a[href^="javascript:"]:after,
  a[href^="mailto:"]:after,
  a[href^="tel:"]:after,
  a[href^="#"]:after {
    content: ""; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  img,
  tr,
  ul {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  h1 a:after, h2 a:after,
  h2 a:after,
  h3 a:after,
  h4 a:after,
  h5 a:after,
  h6 a:after {
    display: inline-block; }
  h2,
  h3,
  h4,
  p {
    orphans: 3;
    widows: 3; }
  h2,
  h3,
  h4 {
    page-break-after: avoid; }
  @page {
    margin: 2cm; } }

.layout-constrain, .layout-constrain--hero, .layout-constrain--narrow {
  margin-left: auto;
  margin-right: auto;
  max-width: 66.66667em;
  padding-left: 1em;
  padding-right: 1em; }
  @media (min-width: 61.25em) {
    .layout-constrain, .layout-constrain--hero, .layout-constrain--narrow {
      padding-left: 2.75em;
      padding-right: 2.75em; } }
  @media (min-width: 80em) {
    .layout-constrain, .layout-constrain--hero, .layout-constrain--narrow {
      padding-left: 1em;
      padding-right: 1em; } }

.layout-constrain--hero {
  padding: 0;
  max-width: 83.33333em; }

.layout-constrain--narrow {
  max-width: 44.44444em; }

.layout-main {
  overflow: hidden; }

.button a {
  color: #FFFFFF; }

@media (min-width: 56.25em) {
  .header__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative; } }

.header {
  display: block;
  height: auto; }

.header__ghost {
  height: 75px; }
  @media (min-width: 56.25em) {
    .header__ghost {
      height: auto; } }

.header__top {
  background: #eff3f3;
  display: block;
  height: 44px; }
  .header__top input {
    border: 1px solid #AFB9B8;
    font-size: 12px;
    height: 26px;
    margin-left: 15px;
    margin-right: 0;
    padding: 0 1em;
    width: 170px; }
    .header__top input[type="submit"] {
      background: url(/wp-content/themes/pfaw/images/submit-b.png) #4b6a24 no-repeat center center;
      background-size: 10px 14px;
      border: none;
      float: right;
      margin: 0 0 0 5px;
      overflow: hidden;
      padding: 0;
      text-indent: 100%;
      transition-property: none;
      white-space: nowrap;
      width: 27px; }
      .header__top input[type="submit"]:hover {
        background: url(/wp-content/themes/pfaw/images/submit-b.png) no-repeat center center #ae272b;
        background-size: 10px 14px; }
  .header__top ul {
    margin: 0;
    padding: 0; }
    .header__top ul.nav {
      align-items: center;
      height: 43px; }
  .header__top li {
    font-family: "Sanchez";
    font-size: 14px;
    line-height: 1.5; }
    .header__top li a {
      border-left: 1px solid #7A8281;
      color: #353b3a;
      padding-left: 1em; }
      .header__top li a:hover, .header__top li a:active {
        color: #192f58; }
    .header__top li:first-of-type a {
      border: none; }
  .header__top label {
    display: none; }

.header__top--right {
  display: flex; }

.header__top--inner {
  align-items: center;
  display: flex;
  height: 43px;
  justify-content: space-between; }

.header__logo {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 180px 80px;
  display: inline-block;
  height: 80px;
  overflow: hidden;
  width: 180px; }
  .is-sticky .header__logo {
    background-size: 140px 62px;
    height: 62px;
    width: 140px; }
  .header__logo h1, .header__logo h2 {
    position: relative; }
  .mobile-menu .header__logo {
    margin-left: .25em;
    background-size: 140px 62px;
    height: 62px;
    width: 140px; }
    .mobile-menu .header__logo img {
      display: none; }

.mobile-menu .header__logo--scroll {
  display: block;
  margin-left: .25em;
  width: 55px; }

.header__utilities {
  display: flex; }
  .header__utilities li {
    margin: .5em 1em; }
    .header__utilities li a {
      display: inline-block;
      text-decoration: none; }
  .header__utilities .menu {
    display: inline; }
    .header__utilities .menu ul {
      margin: 0;
      padding: 0; }

header.banner {
  background: #FFFFFF;
  display: block;
  position: static;
  width: 100%;
  z-index: 101;
  padding-top: 15px;
  padding-bottom: 15px; }

.header__buttons ul {
  height: auto;
  margin: 0;
  padding: 0; }

.header__buttons li {
  display: inline-block;
  list-style: none;
  margin: 0 .25em; }

.footer__top {
  background: #192f58;
  padding: 2.5em 0; }
  @media (min-width: 56.25em) {
    .footer__top {
      padding: 1em 0; } }
  .footer__top form {
    text-align: center;
    flex-wrap: wrap;
    clear: both;
    display: flex;
    height: 55px;
    justify-content: center;
    margin-right: 0;
    text-align: left; }
    .footer__top form label {
      text-align: center;
      width: 100%; }
      @media (min-width: 43.75em) {
        .footer__top form label {
          margin-top: .5em;
          width: auto; } }
  .footer__top ul {
    border-bottom: 5px solid #7A8281;
    display: block;
    height: auto;
    margin-bottom: 0;
    padding: 0 0 1.5em 0; }
    @media (min-width: 31.25em) {
      .footer__top ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; } }
    .footer__top ul li {
      display: block !important;
      padding: .25em;
      text-align: center;
      width: 100%; }
      @media (min-width: 31.25em) {
        .footer__top ul li {
          padding: 1em;
          width: 50%; } }
      @media (min-width: 56.25em) {
        .footer__top ul li {
          padding: 1em 0;
          width: auto; } }
      .footer__top ul li ul {
        display: none; }
    .footer__top ul a {
      color: #FFFFFF;
      font-family: "Sanchez";
      font-size: 20px; }
      .footer__top ul a:hover {
        color: #AFB9B8; }
  .footer__top p {
    color: #FFFFFF;
    font-family: "Sanchez";
    font-size: 22px; }
  .footer__top label {
    color: #FFFFFF;
    display: block;
    font-family: "Helvetica-Light", "Helvetica Light", "Helvetica", Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1em; }
    @media (min-width: 56.25em) {
      .footer__top label {
        display: inline-block; } }
  .footer__top input {
    border-radius: 0;
    font-family: "Helvetica-Light", "Helvetica Light", "Helvetica", Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    margin-right: 0;
    margin-left: .25em;
    padding-left: .5em;
    width: 140px; }
    @media (min-width: 56.25em) {
      .footer__top input {
        height: 30px; } }
  .footer__top input[type="submit"] {
    background: #4b6a24;
    border: none;
    font-size: 14px;
    height: 35px;
    line-height: 1.3;
    margin-left: 5px;
    width: auto; }
    @media (min-width: 56.25em) {
      .footer__top input[type="submit"] {
        float: right;
        font-size: 12px;
        height: 30px; } }
    .footer__top input[type="submit"]:hover {
      background: #004b8e; }
  .footer__top .button {
    border: none;
    font-size: 14px;
    height: 36px;
    padding: 9px 15px; }
    @media (min-width: 56.25em) {
      .footer__top .button {
        font-size: 12px;
        height: 30px;
        padding: 9px 15px; } }
    .footer__top .button:hover {
      background: #004b8e; }

.footer-sidebar__widgets {
  margin-top: 2em;
  text-align: center; }
  .footer-sidebar__widgets p {
    margin-top: 1em;
    text-align: center; }
  .footer-sidebar__widgets a {
    color: #FFFFFF; }
  @media (min-width: 56.25em) {
    .footer-sidebar__widgets {
      display: flex;
      justify-content: space-between;
      margin-top: 2em; } }
  .footer-sidebar__widgets .textwidget {
    margin: 1em 0;
    text-align: center; }
    @media (min-width: 56.25em) {
      .footer-sidebar__widgets .textwidget {
        margin: 0;
        text-align: left; } }
    .footer-sidebar__widgets .textwidget img {
      height: 30px;
      width: 30px; }

.footer__copyright {
  padding: 1em 0 3.5em 0;
  text-align: center; }
  @media (min-width: 56.25em) {
    .footer__copyright {
      padding: .5em; } }
  .footer__copyright p {
    font-family: "Helvetica-Light", "Helvetica Light", "Helvetica", Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0 .25em 0 0; }

.section-title:before, .section-title--med:before {
  content: "";
  background: #DAAA00;
  position: absolute;
  top: 0;
  left: 0;
  width: 185px;
  height: 5px; }

.section-title--med {
  font-size: 30px; }
  @media (min-width: 43.75em) {
    .section-title--med {
      font-size: 40px; } }

.aural-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.footer-sidebar__widgets {
  text-align: center;
  color: #FFFFFF;
  font-size: 90%; }
  .footer-sidebar__widgets div,
  .footer-sidebar__widgets .textwidget {
    display: inline-block;
    text-align: center;
    width: 100%; }

.main {
  padding: 15px 0;
  width: 100%;
  overflow: hidden;
  outline: none; }
  @media (min-width: 43.75em) {
    .main {
      padding: 30px 0; } }

.multistep-logo img {
  max-width: 100%;
  height: auto; }

.onetimelink .lbp2 {
  line-height: 29px !important; }

.onetimelink .lbp3 {
  margin-bottom: 6px !important; }

.onetimelink .lbottextlink {
  margin-top: 10px !important; }

.onetimelink .lbottextlink,
.onetimelink .lbottextlink a,
.onetimelink .lbottextlink a:hover {
  color: #fff !important;
  text-decoration: underline !important;
  cursor: pointer; }

#s63Container {
  min-height: 600px; }

.donation-form,
.donation-content {
  width: 50%;
  float: left; }

.donation-form {
  float: right; }

.donation-content {
  font-size: 1em;
  line-height: 1.3em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-right: 3em;
  padding-left: 2em; }

#s63Container .donation-content h1, #s63Container .donation-content h2 {
  font-size: 22px; }

.donation-content p {
  font-size: 15px;
  line-height: 1.4em; }

.donation-form-seals {
  text-align: center;
  margin-top: 1em; }

.donation-form-seals #vs_seal {
  display: inline-block;
  vertical-align: middle; }

.donation-form-seals .donation-form-seals--paypal {
  display: none;
  vertical-align: middle;
  margin-right: 1em; }

.donation-form-seals .donation-form-seals--paypal img {
  max-height: 85px;
  width: auto; }

.is-paypal-active .donation-form-seals .donation-form-seals--paypal {
  display: inline-block; }

.donation-form .logged-in-message {
  background: #ddd;
  color: #777;
  padding: 1px 1em;
  border-bottom: 1px solid #fff; }

.donation-form .logged-in-message p::before {
  content: "i";
  font-weight: bold;
  border-radius: 50%;
  width: 1.375em;
  height: 1.375em;
  background: #aaa;
  display: inline-block;
  text-align: center;
  color: #ddd;
  line-height: 1.375em;
  font-family: monospace;
  font-size: 1.125em;
  margin-right: .25em; }

.donation-form .logged-in-message p {
  font-size: 12px; }

.donation-form .logged-in-message a {
  text-decoration: underline; }

.multistep-form {
  background: #eee;
  padding: 1em 2em 2.5em 2em;
  max-width: 500px;
  margin: 0 auto;
  font-size: 75%;
  overflow: hidden; }

#s63Container .multistep-form h1, #s63Container .multistep-form h2 {
  color: #2c4667;
  font-weight: bold; }

.multistep-form header {
  margin-bottom: 2em; }

.multistep-form .disclaimer {
  font-style: italic;
  margin-top: 2.5em;
  color: #444;
  text-align: left; }

.multistep-form .form-content .disclaimer {
  margin-top: 1em;
  margin-bottom: .5em; }

.multistep-form ul.disclaimer {
  margin: 1em 0;
  padding: 0 0 0 .25em; }

.multistep-form ul.disclaimer li {
  font-style: italic; }

.multistep-form .disclaimer + .disclaimer {
  margin-top: 0; }

.multistep-nav {
  padding-bottom: 1em;
  padding-top: .25em;
  font-size: 95%; }

.multistep-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center; }

.multistep-nav ul li {
  display: inline-block; }

.multistep-nav-item {
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: 0.9em;
  cursor: pointer; }

.multistep-nav-item::after {
  content: "\2014";
  color: #999;
  display: inline-block;
  padding: 0 .5em; }

.multistep-nav-item.ak-donate-step-3::after {
  display: none; }

.multistep-nav-item span {
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  text-align: center;
  line-height: 1.55em;
  border: 1px solid #ccc;
  color: #999;
  transition: background .5s, color .5s; }

.ak-donate-menu input:checked + span.ak-step-number {
  background: #c70e47;
  border: 1px solid transparent;
  color: #fff; }

.multistep-nav-item {
  color: #777;
  text-decoration: none;
  font-weight: bold;
  transition: color .5s; }

.multistep-nav-item input[type="radio"] {
  position: absolute;
  left: -9999px; }

.multistep-form .form-row .form-content .giving-levels-level {
  display: block;
  width: 31%;
  float: left;
  margin: 1em 0 0 3.5%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative; }

.multistep-form .form-row .form-content .giving-levels-level.giving-levels-level-0,
.multistep-form .form-row .form-content .giving-levels-level.giving-levels-level-3,
.multistep-form .form-row .form-content .giving-levels-level.giving-levels-level-6 {
  margin-left: 0; }

.multistep-form--nudge .giving-levels-level-1:before {
  left: 50%;
  top: -30px;
  width: 25px;
  content: "";
  height: 25px;
  display: block;
  margin-left: -8px;
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("https://s3.amazonaws.com/s3.pfaw.org/images/pfaw-arrow-up_red.png"); }

.multistep-form--nudge .nudge-content,
.multistep-form--nudge .nudge-amount,
.multistep-form--monthly-nudge .nudge-content-monthly {
  color: #b02528;
  font-size: 18px;
  margin-bottom: 0;
  font-family: 'Architects Daughter', cursive;
  margin-top: -10px; }

.multistep-form--monthly-nudge .nudge-content-monthly {
  font-size: 16px;
  font-weight: bold;
  margin-left: 18%;
  position: relative;
  overflow: visible;
  margin-bottom: .5em; }

.multistep-form--monthly-nudge .nudge-content-monthly:before {
  left: -25px;
  top: -10px;
  width: 25px;
  content: "";
  height: 25px;
  display: block;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("https://s3.amazonaws.com/s3.pfaw.org/images/pfaw-arrow-up_red.png"); }

.multistep-form--monthly-nudge .nudge-content-monthly,
.multistep-form--nudge .nudge-content {
  padding-left: 10px; }

.multistep-form:not(.multistep-form--nudge) .nudge-content,
.multistep-form:not(.multistep-form--nudge) .nudge-amount {
  display: none; }

@media (max-width: 800px) {
  .multistep-form--nudge .nudge-content {
    padding-left: 0;
    text-align: center; } }

.multistep-form:not(.multistep-form--nudge) .giving-levels-level-1:before {
  display: none; }

.multistep-form .form-row .form-content .giving-levels-level * {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.multistep-form .form-row .form-content .giving-levels-level input[type="radio"] {
  position: absolute;
  left: -999px; }

.multistep-form .form-row .form-content .giving-levels-level input[type="radio"] + label {
  display: block;
  width: 100%;
  padding: .75em .25em;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 1.375em;
  border: 1px solid #d2d2d2;
  background: #fff;
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
  background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background: -o-linear-gradient(top, #ffffff, #eeeeee); }

.multistep-form .form-row .form-content .giving-levels-level input[type="radio"] + label.giving-levels-level-label--selected {
  background: #c6134a;
  color: #fff;
  -webkit-box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.15); }

.multistep-form .form-row .form-content .giving-levels-level input[type="radio"]:checked + label {
  background: #c6134a;
  color: #fff;
  -webkit-box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.15); }

.multistep-form .form-row .form-content.giving-levels {
  text-align: justify; }

.multistep-form .form-row .form-content.giving-levels ul {
  margin: -1em 0 0 0;
  width: 100%;
  padding: 0; }

.multistep-form .form-row .form-content.giving-levels ul::after {
  content: " ";
  display: inline-block;
  width: 100%; }

.multistep-form .form-row .form-content .giving-levels-level--other input {
  vertical-align: middle;
  display: inline-block;
  width: 85%;
  padding: .75em .5em;
  font-size: 1.375em;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.multistep-form .form-row .form-content .giving-levels-level--other span {
  font-size: 1.375em;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  width: 15%; }

.multistep-form .form-row .form-content .payment-types {
  padding: 0;
  margin: 0 0 1.5em 0;
  width: 100%;
  overflow: hidden; }

.multistep-form .form-row .form-content .payment-types-type {
  display: block;
  width: 37.5%;
  float: left;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  font-size: 1.375em; }

.multistep-form .form-row .form-content .payment-types-type * {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.multistep-form .form-row .form-content .payment-types-type input[type="radio"] {
  position: absolute;
  left: -999px; }

.multistep-form .form-row .form-content .payment-types-type input[type="radio"] + label {
  overflow: hidden;
  display: block;
  width: 100%;
  padding: .75em .25em;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.375em;
  color: #2c4667;
  border: 1px solid #d2d2d2;
  border-width: 1px 1px 1px 0;
  background: #fff;
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
  background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background: -o-linear-gradient(top, #ffffff, #eeeeee); }

.multistep-form .form-row .form-content .payment-types-type--paypal input[type="radio"] + label span {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(https://secure.pfaw.org/images/content/pagebuilder/paypal-logo-2015.png);
  background-size: auto 1.325em;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden; }

.multistep-form .form-row .form-content .payment-types-type:first-child input[type="radio"] + label {
  border-right-width: 0;
  border-left-width: 1px; }

.multistep-form .form-row .form-content .payment-types-type input[type="radio"] + label.payment-types-type-label--selected {
  background: #ddd;
  -webkit-box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.15); }

.multistep-form .form-row .form-content .payment-types-type input[type="radio"]:checked + label {
  background: #ddd;
  -webkit-box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.15); }

.multistep-form label {
  white-space: normal;
  width: 100%;
  display: block;
  font-weight: bold;
  overflow: hidden; }

.multistep-form .giving-levels-level--other label {
  display: inline;
  width: auto; }

.multistep-form label.multistep-nav-item {
  overflow: visible; }

.multistep-form label .required {
  color: #c70e47;
  font-weight: bold;
  font-size: 1.375em;
  line-height: 1em; }

.multistep-form label .help {
  font-weight: normal; }

.multistep-form label .help a {
  color: #006699;
  font-size: 0.9em; }

.multistep-form label .card-set {
  float: right;
  vertical-align: bottom; }

.multistep-form label .card-set img {
  border: 1px solid #ddd;
  width: 30px;
  height: auto;
  margin-left: .25em;
  margin-top: -0.25em;
  display: inline-block; }

.multistep-form .form-content--checkbox.form-content--checkbox--annual {
  display: none;
  /* the checkbox is now displayed in a different location */
  background: #fff;
  border: 1px solid #d2d2d2;
  padding: 1em; }

.multistep-form .form-content--checkbox.form-content--checkbox--annual label span,
.autorenewal-external label span {
  color: #666;
  font-weight: normal;
  font-style: italic;
  display: inline-block;
  margin-top: .5em; }

.autorenewal-external > div {
  border: 1px solid #ddd;
  padding: 1em .75em; }

.multistep-form .form-content--checkbox label,
.autorenewal-external label {
  display: inline-block;
  max-width: 90%;
  margin-left: .5em;
  color: #2c4667;
  font-weight: bold;
  width: auto;
  vertical-align: top;
  font-size: 1.05em;
  cursor: pointer;
  white-space: normal; }

@media screen and (max-width: 480px) {
  .autorenewal-external label {
    max-width: 87%; } }

.multistep-form .form-content--credit-card label {
  padding-top: .25em; }

.multistep-form input[type="text"],
.multistep-form input[type="email"] {
  -webkit-appearance: none;
  border-radius: 0; }

.multistep-form input[type="text"],
.multistep-form input[type="email"],
.multistep-form select {
  border: 1px solid #d2d2d2;
  background: #fff;
  padding: .5em .35em;
  font-size: 1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  transition: background .25s, border .25s; }

.multistep-form input[type="text"].ak-error,
.multistep-form input[type="email"].ak-error,
.multistep-form select.ak-error {
  border: 1px solid #c70e47;
  background: #fef0f4; }

.multistep-form .ak-err {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0; }

.multistep-form select {
  height: 2.25em; }

.multistep-form .form-row {
  width: 100%;
  padding-bottom: .5em; }

.multistep-form .form-row:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 100%; }

.multistep-form--nudge .giving-levels {
  padding-top: 30px; }

.multistep-form .form-row .form-content {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.multistep-form .form-row .form-content.form-content-half {
  float: left;
  width: 50%;
  padding-right: .5em; }

.multistep-form .form-row .form-content.form-content-three-quarter {
  float: left;
  width: 75%;
  padding-right: .5em; }

.multistep-form .form-row .form-content.form-content-third {
  float: left;
  width: 32%;
  margin-right: 2%; }

.multistep-form .form-row .form-content.form-content-third:last-child {
  margin-right: 0; }

.multistep-form .form-row .form-content.form-content-quarter {
  float: left;
  width: 25%;
  padding-right: .5em; }

.multistep-form .form-row .form-content.form-content-quarter:last-child {
  padding-right: 0; }

.multistep-form .error-message,
.multistep-form .ak-err li {
  display: inline-block;
  color: #c70e47;
  margin-top: .25em;
  font-size: 0.8em; }

.multistep-form .error-message.error-message--global {
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 1em 0 0 0;
  padding: .75em 1em;
  background: #fff; }

.multistep-form .form-row .form-content.form-content-multi input,
.multistep-form .form-row .form-content.form-content-multi select {
  float: left;
  width: 50%; }

.multistep-form .form-row .form-content.form-content-multi input + input {
  border-left: 0; }

.multistep-form .form-row .form-content.form-content-multi select + select {
  width: 48%;
  margin-left: 2%; }

.multistep-form .form-row .form-content.form-content-multi input.form-field-quarter {
  width: 25%; }

.multistep-form .form-row .form-content.form-content-multi input.form-field-three-quarter {
  width: 75%; }

.multistep-form input[type="submit"],
.multistep-form button[type="submit"],
.multistep-form button[type="button"] {
  color: #fff;
  background: #c70e47;
  border: 0;
  font-size: 1.5em;
  padding: .5em .75em;
  cursor: pointer;
  display: inline-block;
  min-width: 175px;
  background-color: #c70e47;
  background: -webkit-gradient(linear, left top, left bottom, from(#c70e47), to(#970b36));
  background: -webkit-linear-gradient(top, #c70e47, #970b36);
  background: -moz-linear-gradient(top, #c70e47, #970b36);
  background: -ms-linear-gradient(top, #c70e47, #970b36);
  background: -o-linear-gradient(top, #c70e47, #970b36); }

.multistep-form input[type="submit"]:hover,
.multistep-form button[type="submit"]:hover,
.multistep-form button[type="button"]:hover {
  background: #c70e47; }

.multistep-form button[type="submit"][disabled] {
  background-color: #cccccc;
  background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#999999));
  background: -webkit-linear-gradient(top, #cccccc, #999999);
  background: -moz-linear-gradient(top, #cccccc, #999999);
  background: -ms-linear-gradient(top, #cccccc, #999999);
  background: -o-linear-gradient(top, #cccccc, #999999); }

.multistep-form .email-disclaimer {
  color: #2c4667;
  font-style: italic;
  font-size: 90%;
  margin-top: .5em;
  display: block;
  font-weight: bold; }

.multistep-controls {
  width: 100%;
  text-align: center;
  margin-top: 2em;
  position: relative; }

.multistep-controls .error {
  color: #c70e47;
  font-weight: bold;
  margin-top: -2em; }

.multistep-controls .multistep-back {
  display: inline-block;
  color: #777;
  position: absolute;
  left: 0;
  bottom: 1.25em;
  font-size: 90%; }

.mobile-payment-options {
  display: none; }

@media (max-width: 800px) {
  .donation-form,
  .donation-content,
  .mobile-payment-options {
    float: none;
    width: 100%;
    padding: 0;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .mobile-payment-options {
    margin-bottom: 1.5em; }
  .mobile-payment-options img {
    width: 30px;
    height: auto;
    display: inline-block;
    vertical-align: middle; }
  .mobile-payment-options img.paypal {
    width: 60px; }
  .donation-content {
    margin-bottom: 1.5em; } }

@media (max-width: 480px) {
  #s63Container .multistep-form h1, #s63Container .multistep-form h2 {
    font-size: 1.125em; }
  .multistep-form .form-row .form-content .giving-levels-level {
    width: 48%;
    margin: 1em 0 0 4%; }
  .multistep-form .form-row .form-content .giving-levels-level.giving-levels-level-0,
  .multistep-form .form-row .form-content .giving-levels-level.giving-levels-level-2,
  .multistep-form .form-row .form-content .giving-levels-level.giving-levels-level-4,
  .multistep-form .form-row .form-content .giving-levels-level.giving-levels-level-6 {
    margin-left: 0; }
  .multistep-form .form-row .form-content .giving-levels-level.giving-levels-level-3 {
    margin-left: 4%; }
  .multistep-form .form-row .form-content {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
  .multistep-form .form-row .form-content.form-content-half,
  .multistep-form .form-row .form-content.form-content-three-quarter,
  .multistep-form .form-row .form-content.form-content-third,
  .multistep-form .form-row .form-content.form-content-quarter {
    float: none;
    width: 100%;
    padding-right: 0;
    margin-top: .5em; }
  .multistep-form .form-row .form-content:first-child {
    margin-top: 0; }
  .multistep-form .form-row .form-content.form-content-multi input,
  .multistep-form .form-row .form-content.form-content-multi select {
    float: none;
    width: 100%; }
  .multistep-form .form-row .form-content.form-content-multi input + input {
    border: 1px solid #d2d2d2;
    margin-top: .25em; }
  .multistep-form .form-row .form-content.form-content-multi input + input.ak-error {
    border: 1px solid #c70e47; }
  .multistep-form .form-row .form-content.form-content-multi select + select {
    width: 100%;
    margin-left: 0;
    margin-top: .25em; }
  .multistep-form .form-row .form-content.form-content-multi input.form-field-quarter,
  .multistep-form .form-row .form-content.form-content-multi input.form-field-three-quarter {
    width: 100%; }
  .multistep-form .form-content--checkbox label {
    max-width: 81%; }
  .multistep-form label .card-set {
    float: none;
    display: block; }
  .multistep-form label .card-set img {
    border: 1px solid #ddd;
    width: 30px;
    height: auto;
    margin-right: .25em;
    margin-top: 0.25em;
    margin-left: 0;
    display: inline-block; }
  .multistep-nav-item {
    font-size: .75em; }
  .multistep-controls .multistep-back {
    display: block;
    position: static;
    left: auto;
    bottom: auto;
    width: 8em;
    background: #dfdfdf;
    padding: .75em .25em;
    margin: 2em auto 0 auto; }
  .multistep-form .form-row .form-content .payment-types-type {
    width: 50%; }
  .multistep-form .form-row .form-content .payment-types-type input[type="radio"] + label {
    font-size: .85em; } }

/* Monthly Toggle CSS */
.multistep-form .form-row .recurring-options {
  width: 100%;
  margin-bottom: 1.125rem;
  overflow: hidden; }

.multistep-form .form-row .form-content .recurring-options-option {
  display: block;
  width: 31%;
  float: left;
  margin: 1em 0 0 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative; }

.multistep-form .form-row .form-content .recurring-options-option + .recurring-options-option {
  margin-left: 3.5%; }

.multistep-form .form-row .form-content .recurring-options-option * {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.multistep-form .form-row .form-content .recurring-options-option input[type="radio"] {
  position: absolute;
  left: -999px; }

.multistep-form .form-row .form-content .recurring-options-option input[type="radio"] + label {
  display: block;
  width: 100%;
  padding: .75em .25em;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 1.375em;
  border: 1px solid #d2d2d2;
  background: #fff;
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
  background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background: -o-linear-gradient(top, #ffffff, #eeeeee); }

.multistep-form .form-row .form-content .recurring-options-option input[type="radio"] + label.recurring-options-option-label--selected {
  background: #c6134a;
  color: #fff;
  -webkit-box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.15); }

.multistep-form .form-row .form-content .recurring-options-option input[type="radio"]:checked + label {
  background: #c6134a;
  color: #fff;
  -webkit-box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.15); }

.multistep-form .form-row .form-content.recurring-options {
  text-align: justify; }

.multistep-form .form-row .form-content.recurring-options ul {
  margin: -1em 0 0 0;
  width: 100%;
  padding: 0; }

.multistep-form .form-row .form-content .giving-levels-level--monthly {
  display: none; }

.form-content--inactive {
  display: none !important; }

.js--multistep-step--amount .multistep-controls {
  margin-top: 1.5em; }

@media (max-width: 480px) {
  .multistep-form .form-row .form-content .recurring-options-option {
    width: 48%; }
  .multistep-form .form-row .form-content .recurring-options-option + .recurring-options-option {
    margin-left: 4%; } }

@media (min-width: 768px) {
  .ak-payment-options {
    display: none !important; } }

@media (max-width: 767px) {
  body .multistep-form .ak-payment-options button[type="submit"] {
    background: #fff; }
    body .multistep-form .ak-payment-options button[type="submit"] img {
      vertical-align: middle;
      display: inline-block; }
    body .multistep-form .ak-payment-options button[type="submit"]:hover {
      background: #ddd; }
  .ak-payment-options {
    display: block; }
    .ak-payment-options span {
      display: block;
      margin: .5rem; } }

/* Donation Style Overrides */
body .layout-constrain, body .layout-constrain--hero, body .layout-constrain--narrow {
  max-width: 1200px; }

body .mobile-menu__bar {
  height: 84px; }

body .header__buttons ul {
  display: none; }

body .header__buttons li a {
  color: #fff; }

#main {
  padding-bottom: 5rem; }

#main div.content {
  font-family: "Helvetica-Light", "Helvetica Light", "Helvetica", Arial, sans-serif; }

#main .layout-constrain:after, #main .layout-constrain--hero:after, #main .layout-constrain--narrow:after {
  content: "";
  display: block;
  clear: both; }

#main input[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox; }

h1, h2 {
  padding-bottom: 20px; }

h1:before, h2:before {
  content: "";
  display: block;
  width: 185px;
  height: 5px;
  background-color: #daaa00;
  top: -20px;
  position: relative; }

span.test-headline {
  display: block;
  margin-top: 20px;
  padding-bottom: 20px;
  font-size: 38px !important;
  color: #192f58 !important;
  font-family: "Sanchez" !important;
  font-weight: normal;
  line-height: 1.1; }

span.test-headline:before {
  content: "";
  display: block;
  width: 185px;
  height: 5px;
  background-color: #daaa00;
  top: -20px;
  position: relative; }

body .donation-form .logged-in-message {
  background-color: #eff3f4;
  max-width: 500px;
  margin: auto; }

.logged-in-message p {
  margin-top: 1em; }

#stayInformed {
  padding: 2em;
  background-color: #eff3f4; }

#stayInformed .content div {
  width: 100%;
  padding-bottom: 20px; }

body .multistep-form {
  margin-top: 1em;
  background-color: #eff3f4; }

body .multistep-form h1, body .multistep-form h2 {
  font-size: 24px;
  padding-bottom: 0; }

body .multistep-form h1:before, body .multistep-form h2:before {
  display: none; }

section.multistep-step {
  margin-top: 1em; }

.multistep-form .form-row .form-content .giving-levels-level--other input {
  height: auto;
  margin-right: 0 !important; }

body .multistep-form label .required {
  color: #b02528; }

body .multistep-form .form-row .form-content.form-content-multi input, body .multistep-form .form-row .form-content.form-content-multi select,
body .multistep-form .form-row .form-content.form-content-multi input.form-field-three-quarter,
body .multistep-form .form-row .form-content.form-content-multi input.form-field-quarter {
  margin-right: 0; }

body .multistep-form select, body .multistep-form input[type="email"] {
  height: 39px;
  font-weight: bold; }

body .form-content--checkbox {
  padding-top: 10px; }

body .multistep-nav-item--active span,
body .multistep-form .form-row .form-content .recurring-options-option input[type="radio"]:checked + label,
body .multistep-form .form-row .form-content .giving-levels-level input[type="radio"]:checked + label,
body .multistep-form .form-row .form-content .giving-levels-level input[type="radio"] + label.giving-levels-level-label--selected {
  background-color: #b02528; }

body .multistep-form input[type="submit"], body .multistep-form button[type="submit"], body .multistep-form button[type="button"],
body .multistep-form input[type="submit"]:hover, body .multistep-form button[type="submit"]:hover, body .multistep-form button[type="button"]:hover,
.multistep-form button[type="submit"]:disabled {
  background-color: #b02528;
  background: #b02528 linear-gradient(to bottom, #b02528 50%, #192f58 50%);
  background-size: 100px 100px;
  border-bottom: 5px solid #192f58;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase; }

body .multistep-form input[type="submit"]:hover, body .multistep-form button[type="submit"]:hover, body .multistep-form button[type="button"]:hover,
body .multistep-form input[type="submit"]:active, body .multistep-form button[type="submit"]:active, body .multistep-form button[type="button"]:active,
body .multistep-form button[type="submit"]:disabled {
  background-position: 0 100%; }

body .multistep-form button[type="submit"][disabled] {
  background: #b02528 linear-gradient(to bottom, #b02528 50%, #192f58 50%);
  background-size: 100px 100px; }

body noscript + script + p,
body noscript + script + p + script + p {
  /* Some tracking script inserts a p tag */
  margin: 0; }

.ak-pagetype-petition p {
  font-size: 14px; }

.ak-pagetype-petition .advocacy-action {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .ak-pagetype-petition .advocacy-action .advocacy-intro, .ak-pagetype-petition .advocacy-action .pull-right, .ak-pagetype-petition .advocacy-action header {
    width: 48.5%; }
  .ak-pagetype-petition .advocacy-action header {
    padding-top: 20px;
    padding-bottom: 12px;
    float: left;
    text-align: left; }
  .ak-pagetype-petition .advocacy-action .pull-right {
    padding-top: 36px;
    float: right; }
  .ak-pagetype-petition .advocacy-action .statement-text-wrapper {
    padding: 1.5em;
    background: #eff3f3; }
    .ak-pagetype-petition .advocacy-action .statement-text-wrapper h3 {
      text-transform: uppercase;
      letter-spacing: .03em;
      font-size: 24px;
      color: #353b3a;
      padding-top: 6px;
      padding-bottom: 20px; }
  .ak-pagetype-petition .advocacy-action #petition-form .form-row {
    width: 100%;
    padding-bottom: .5em; }
  .ak-pagetype-petition .advocacy-action #petition-form label {
    white-space: normal;
    width: 100%;
    display: block;
    font-weight: bold;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: .125em;
    color: #183157; }
    .ak-pagetype-petition .advocacy-action #petition-form label .ak-required-flag {
      color: #ae272b; }
  .ak-pagetype-petition .advocacy-action #petition-form input[type="text"] {
    width: 100%;
    border: 1px solid #afb9b8;
    margin-bottom: .675em; }

@media (max-width: 800px) {
  .ak-pagetype-petition .advocacy-intro, .ak-pagetype-petition .pull-right, .ak-pagetype-petition .advocacy-action header {
    width: 100%;
    float: none; }
  .ak-pagetype-petition .advocacy-intro {
    margin-top: 2em; } }
