.feed-list {
  overflow: hidden;
  padding-top: .5em;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    background: #FFFFFF;
    border: 1px solid #EFF3F3;
    display: inline-block;
    list-style: none;
    margin-bottom: 1em;
    padding: 1em 1em 1em 1em;
    width: 100%;
    a {
      color: $navy;
      display: inline-block;
      font-family: $header-font-family;
      font-size: $font-size-md;
      padding-bottom: 0;
      &:hover,
      &:focus {
        color: $red;
      }
    }
  }
  h3 {
    margin: .25em 0 0 0;
    a {
      padding-bottom: 0;
    }
  }
  .meta {
    color: $dark-grey;
    font-size: 12px;
    font-family: $base-font-family;
    font-weight: bold;
    margin: 0;
  }
  .sep {
    margin: 0 .5em;
  }
}
