.jobs__list {
  margin-top: 1em;
  p {
    margin-bottom: 0;
  }
}
.jobs__item {
  border-bottom: 1px solid $grey;
  margin: 0 0 1em 0;
  padding-bottom: 1em;
  p {
    a {
      color: $black;
      &:after {
        content: "\f105";
        display: inline;
        font: bold normal normal 19px/1 FontAwesome;
        margin-left: .5em;
      }
      &:hover {
        color: $blue;
      }
    }
  }
  i {
    font-size: $font-size-sm;
    padding-right: .25em;
  }
  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
