.page-header {
  @extend h2;
}
.page__header {
  margin-top: 2em;
  @include breakpoint(800px, $no-query: true) {
    margin-top: 4em;
  }
}
.page__header__top {
  display: flex;
  flex-wrap: wrap;
}
