.page-title {
  @extend h1;
  margin-top: 1.5em;
  &:before {
    content: "";
    background: $border-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 185px;
    height: 5px;
  }
}
