h2 {
  &.post__title {
    color: $black;
    font-family: $header-font-family;
    text-transform: none;
    &:before {
      content: "";
      background: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
    }
    a {
      color: $black;
    }
  }
}
.post__image {
  margin: 2em 0;
  iframe {
    width: 100%;
    height: 250px;
    @include breakpoint(900px, $no-query: true) {
      height: 500px;
    }
  }
}
.post__thumbnail {
  margin: 0 0 .5em 0;
  @include breakpoint(800px, $no-query: true) {
    float: left;
    margin: 0 1em .25em 0;
  }
}
.post__sidebar {
  background: $light-grey;
  margin: 1.5em 0;
  padding: 1.5em 0;
}
.post__header {
  margin-top: 2em;
  @include breakpoint(700px, $no-query: true) {
    margin-top: 4em;
  }
  h1 {
    font-size: $font-size-lgr;
    @include breakpoint(700px, $no-query: true) {
      font-size: $font-size-xxl;
    }
  }
}
