.top {
  background: $light-grey;
  li {
    list-style:none;
  }
}
.top__content {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  @include breakpoint(700px, $no-query: true) {
    flex-wrap: nowrap;
    padding: 4em 0;
  }
  h3 {
    bottom: 0;
    font-size: $font-size-md;
    line-height: 1;
    margin-top: .25em;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    @include breakpoint(700px, $no-query: true) {
      font-size: $font-size-xl;
      margin-top: .25em;
      margin-bottom: .25em;
      position: relative;
    }
    a {
      background-image: linear-gradient(to bottom, transparent, $black 60%);
      color: $white;
      display: inline-block;
      padding: .5em;
      width: 100%;
      &:after {
        content: "\f105";
        display: inline-block;
        font: bold normal normal 20px/1 FontAwesome;
        margin-left: .15em;
      }
      @include breakpoint(700px, $no-query: true) {
        background: none;
        color: $black;
        padding: 0;
        &:hover,&:focus {
          color: $red;
        }
        &:after {
          content: "\f105";
          display: inline-block;
          font: bold normal normal 30px/1 FontAwesome;
          margin-left: .15em;
        }

      }
    }
  }
}
.top__content__primary-post {
  width: 50%;

}


.featured-posts--rest {
  display: flex;
  flex-wrap: wrap;
  padding: 4em 0;
}
