.trending-topics {
  display: none;
  @include breakpoint(900px, $no-query: true) {
    background: $dark-grey;
    display: block;
    padding: 0;
    width: 100%;
  }
}
.trending-topics__menu {
  font-family: $header-font-family;
  font-size: 19px;
  margin-bottom: 0;
  padding: .5em;
  text-align: center;
  h4 {
    display: inline-block;
    margin: 0;
  }
  a {
    border-right: 2px solid #AFB9B8;
    color: $white;
    display: inline-block;
    line-height: .81;
    padding: 0 .5em;
    &:last-of-type {
      border-right: none;
    }
    &:hover,
    &:focus {
      color: $black;
    }
  }
}
